#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - t2
[extruder2]
step_pin: t2:gpio7
dir_pin: t2:gpio6
enable_pin: !t2:gpio14

##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
#rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
#gear_ratio: 50:10               #BMG Gear Ratio
#microsteps: 32

## G2SA Extruder ##
rotation_distance: 47.653       # G2E planetary gears
gear_ratio: 9:1                 # G2E Gear Ratio
microsteps: 16
###################


full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: t2:gpio23
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: t2:gpio27
min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 10     #change back to 180
max_extrude_cross_section: 5
max_extrude_only_distance: 101

control = pid
pid_kp = 28.451
pid_ki = 3.215
pid_kd = 62.948
#pid_Kp=28.451 pid_Ki=3.215 pid_Kd=62.948

pressure_advance: 0.022   ## ESUN ABS+
pressure_advance_smooth_time: 0.040

[tmc2209 extruder2]
uart_pin: t2:gpio15
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

#********************************************************************
##  Print Cooling Fan - FAN0
#********************************************************************

#[fan_generic t2_partfan]
#pin: t2:gpio13
#kick_start_time: 0.5
#off_below: 0.10

#********************************************************************
##  Hotend Fan - FAN1
#********************************************************************

[heater_fan t2_HE-Fan]
pin: t2:gpio13
max_power: 1.0
kick_start_time: 0.5
heater: extruder2
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

[gcode_macro t2]
variable_color: ""
gcode:
  SELECT_TOOL T=2

[tool t2]
tool_number: 2
extruder: extruder2
fan: cpap
detection_pin: t2:gpio16
params_park_x: 227.0
params_park_y: -5.9
params_park_z: 268.0
gcode_x_offset: -0.06
gcode_y_offset: -0.15
gcode_z_offset: 0.34 #0.32
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 75.6
params_input_shaper_damping_ratio_x: 0.01
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 50.0
params_input_shaper_damping_ratio_y: 0.01

[lis2dw]
cs_pin: t2:gpio12
spi_software_sclk_pin: t2:gpio2
spi_software_mosi_pin: t2:gpio3
spi_software_miso_pin: t2:gpio4


[temperature_sensor t2_MCU]
sensor_type: temperature_mcu
sensor_mcu: t2
min_temp: 0
max_temp: 100