#####################################################################
#   LED Control
#####################################################################

#[output_pin caselight]
### Chamber Lighting - CNC_FAN5
#pin: PD15
#pwm:true
#shutdown_value: 0
#value:0.25
#cycle_time: 0.01

[led caselight]
white_pin: PD15
initial_WHITE: 0.25
cycle_time: 0.01